# CSE111 - Week 01: Review of Python

***
## Coding style

In [ ]:
# Naming, spacing, comments
age = 10
name = 'bob smith'
first_name = 'bob'

x = 1 + 2 / 6  # good
x=1+2/5   # bad

rate = 1.0   # set rate to be 10%

In [ ]:
# triple quotes

# line comment

""" 
dfg
dfg
dfg
"""

''' 
sdfg
sdfg
sdfg
'''

***
## Variables and Types

In [ ]:
# int, float, str and boolean
age = 10
gpa = 3.999
name = 'Bob'
can_vote = False

In [2]:
print(0.1 * 3)
print(0.2 * 3)
print(0.3 * 3)
print(0.4 * 3)
print(0.5 * 3)
print(0.6 * 3)
print(0.7 * 3)

0.30000000000000004
0.6000000000000001
0.8999999999999999
1.2000000000000002
1.5
1.7999999999999998
2.0999999999999996

In [3]:
# the type() function
a = 10
print(type(a))
a = 'bob'
print(type(a))
a = True
print(type(a))

<class 'int'>
<class 'str'>
<class 'bool'>

In [6]:
# Shorthand operators
x = 10
print(x)
x = x + 10
print(x)
x += 10
print(x)

10
20
30

***
## print() statement with argument options

In [13]:
# Formatted String
age = 10
name = 'Bob'

print('My name is', name, ', I am', age, 'years old')
print('My name is {name}, I am {age} years old')
print(f'My name is {name}, I am {age} years old')

My name is Bob , I am 10 years old
My name is {name}, I am {age} years old
My name is Bob, I am 10 years old

In [21]:
# Using end=
print('hi', end=' ')
print('there', end='')
print('.')

hi there.

In [23]:
# Using sep=
print(1, 2, 3, 4, 5, sep=', ')

1, 2, 3, 4, 5

***
## Math and order of operations

In [25]:
x = (1 + 3) / 4
print(x)

1.0

In [ ]:
a = 20
b = 7
print(a / b)
print(a // b)  # int
print(a % b)   # int

2.857142857142857
2
6

***
## If, elif statements

In [31]:
age = 8
if age >= 18:
    print('Can vote!!!')
else:
    # print('can't vote')
    print("can't vote")
    print('can\'t vote')

can't vote
can't vote

***
## for and while loops

In [35]:
for i in range(2, 10, 3):
    print(i)

2
5
8

In [37]:
for i in range(10, -1, -3):
    print(i, end=', ')

10, 7, 4, 1,

***
## lists and tuples

In [ ]:
a = [1, 2, 3]
b = (1, 2, 3)   # read only  less memory

print(a)
print(b)

[1, 2, 3]
(1, 2, 3)

***
## reading files

In [ ]:
filename = 'data.txt'

***
## Coding example: Total values in a list and calculate average

***
## Coding example: Count number of words in a sentence

***
## Coding example: Count vowels in a sentence

***
## Coding example: Find smallest value in a random list of numbers

***
## Coding example: Given two lists, display all values in common

In [ ]:
list1 = [1, 45, 3, 7, 789, 5, 234, 12, 45, 67, 89, 56, 345, 23, 5678]
list2 = [1, 3, 6, 7, 8, 9, 0, 123, 234, 345, 456, 567, 678]

***
## Coding example: find nth even number in a list

In [ ]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
n = 5

***
## Coding example: find smallest, largest number in a list (find the second highest)

In [ ]:
import random

values = []
for i in range(100):
    values.append(random.randint(1, 100000))
print(values)

***
## Coding example: Display factors of a number

In [6]:
import math

n = 360

# 6 -> 1, 2, 3, 6

factors = [1, n]       # We always have 1 and n as a factors

# Only need to loop to square root of n
for i in range(2, int(math.sqrt(n))): 
    if n % i == 0:
        factors.append(i)
        factors.append(n // i)

print(factors)
print(sorted(factors))

[1, 360, 2, 180, 3, 120, 4, 90, 5, 72, 6, 60, 8, 45, 9, 40, 10, 36, 12, 30, 15, 24]
[1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15, 24, 30, 36, 40, 45, 60, 72, 90, 120, 180, 360]